body {
    background-color: #2A363B;
    /*background-image: url("images/bg-hero-desktop.svg");*/
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E84A5F;
    padding-top: 80px;
    padding-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: -1px 1px 5px #888888;
}

#quoteDisplay {
    width: 80%;
    font-size:x-large;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}

button {
    border-radius: 50px;
    width: 170px;
    height: 50px;
    border: 0;
    font-size: larger;
    cursor: pointer;
    margin-top: 40px;
    background-color: #FECEA8;
    text-align: center;
}

.btn-container {
    text-align: center;
}

button:hover {
    background-color: transparent;
    border: 4px solid #ffffff;
    color: #ffffff;
}

h1 {
    font-size: 40px;
    color: white;
    text-align: center;
    color: #99B898;
}

@media screen and (max-width: 550px) {
    body {
    background-color: #2A363B;
    }
    .heading {
    font-size: 30px;
    }
}